[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pybtex = "*"
flask = "*"
flask-cors = "*"
l = "*"
pypdf2 = "*"
tika = "*"
regex = "*"

[requires]
python_version = "3.7"
