[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pybtex = "*"
flask = "*"
flask-cors = "*"
tika = "*"
bs4 = "*"
requests = "*"
selenium = "*"
supersqlite = "*"
sqlalchemy = "*"
sphinx-rtd-theme = "*"
m2r = "*"

[requires]
python_version = "3.7"
